// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background: url('/storage/images/back.png') repeat scroll 0 0 transparent;
    width: 100%;
}
.separator{
    background: url('/storage/images/sep_nav.png') no-repeat scroll right center transparent;
    display: block;
    float: left;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 0px 18px;
}
.btn-green{
    background: #9db22b;
    color: white;
    border: none;
    box-shadow: 2px black;
}
.modal-header{
    border-bottom:  4px solid rgb(41, 40, 40) !important;
}
.nav-bg{
    background: #9db22b !important;
}
.w-120{
    width: 120px;
    height: 130px;
}
.w-pic{
    width: 120px;
    height: 120px;
}
.w-h-78{
    width: 78px;
    height: 78px;
}
.f-size-11{
    font-size: 11px;
    margin-top: 4px;
    margin-left: 5px;
}
.f-size-16{
    font-size: 16px;
    margin-bottom: 10px;
}
.border-dashed{
    border-right: 1px dashed gray;
}
.borded{
    border-top: 3px solid #9db22b;
}
.borded-blue{
    border-top: 3px solid #1e83bd;
}
.w-40{
    width: 260px;
    font-size: 11px;
    color: #9db22b;
    font-family: arial;
    height: 24px;
    background: #f5f5f5;
    border: 1px solid #cccccc;
}
.w-10{
    width: 50px;
    font-size: 11px;
    color: #9db22b;
    font-family: arial;
    height: 24px;
    background: #f5f5f5;
    border: 1px solid #cccccc;
}
.w-20{
    width: 100px;
    font-size: 11px;
    color: #9db22b;
    font-family: arial;
    height: 24px;
    background: #f5f5f5;
    border: 1px solid #cccccc;
}
.w-area{
    width: 260px;
    font-size: 11px;
    color: #9db22b;
    font-family: arial;
    background: #f5f5f5;
    border: 1px solid #cccccc;
}
.text-green{
    color: #9db22b !important;
}
.title{
    width: 182px;
    font-size: 12px;
    color: #666666;
    font-family: arial;
    padding-top: 8px;
}
.title_{
    width: 207px;
    font-size: 12px;
    color: #666666;
    font-family: arial;
    padding-top: 8px;
}
.ml-72{
    margin-left: 75px;
}
.avatar{
    width: 78px;
    height: 78px;
}
.bord-dash{
    float: left;
    width: 207px;
    height: 148px;
    padding-left: 9px;
    padding-top: 20px;
    margin-left: 20px;
    border:3px solid #eaeaea;
}
.atelier li{
    list-style: none;
}
.atelier a{
    color: #999999;
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 5px;
}
.atelier a:hover{
    color: #999999;
    text-decoration: none;
}
.rounded-half{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 32px;
    box-shadow: 1px 3px #9db22b;
}
.rounded-half-blue{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 32px;
    box-shadow: 1px 3px #1e83bd;
}
.border-shadow{
    border: 1px solid #ccc;
    box-shadow: 1px 0px 4px#9db22b;
}
.border-shadow-blue{
    border: 1px solid #ccc;
    box-shadow: 1px 0px 4px#1e83bd;
}
.text-grey{
    font-size: 18px;
    color: #666666;
    font-weight: normal;
}
.text-blue{
    color: #1e83bd !important;
}
.blue-bg{
    background: #1e83bd !important;
    color: #fff !important;
}
.list-group>.text-grey:hover{
    color: #000;
}
.nav-link:hover{
    color: #000;
}
.rounded-top-right{
    border-top-right-radius: 32px;
}
.h-390{
    height: 390px !important;
}
.small-puce{
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.shadow-xl{
    box-shadow: 1px 1px rgb(58, 58, 58);
}
.bg-green-light{
    background-color: #e9f0c6 !important;
}
.bg-blue-light{
    background-color: #92d6fd !important;
}
.bg-grey{
    background: #eaeaea !important;
}
.border-b-dashed {
    border-bottom: 2px dashed #fff;
}

.bloc-bienvenue{
    background: url('/storage/images/bg-repeat.jpg') repeat-x center #fff;
    border: 2px solid #e0dfdf;
    width: 696px!important;
    border-top: 0px;
    border-radius: 50px;
    box-shadow: 1px 0px 4px#9db22b;
}
.bloc-bienvenue-blue{
    background: url('/storage/images/bg-repeat.jpg') repeat-x center #fff;
    border: 2px solid #e0dfdf;
    width: 696px!important;
    border-top: 0px;
    border-radius: 50px;
    box-shadow: 1px 0px 4px#1e83bd;
}
.f-90{
    font-size: 12px;
    font-weight: 500;
}
.f-13{
    color: #666666;
    font-size: 13px;
    font-weight: bold;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .principal{
        width: 100%;
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        align-items: center !important;
        gap: 15px;
        margin: 15px !important;
    }
    .second{
        order: -1;
        margin-right: 15px !important;
    }
    .search, .entreprise{
        width: 100%;
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        align-items: center !important;
        gap: 15px;
    }
    .slider-2{
        display: none !important;
    }
    .frm-search{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .map{
        padding: 0 !important;
    }
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        align-items: center !important;
        margin-left: 8px !important;
        margin-right: 8px !important;
    }
    .one, .two, .three{
        border-top: 1px dashed #cccccc;
        border-right: none !important;
    }
 }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .principal{
        width: 100%;
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        align-items: center !important;
        gap: 15px;
        padding: 10px !important;
    }
    .second{
        order: -1;
    }
    .col-md-3{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .col-md-9{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-right: 0 !important;
    }
    .search, .entreprise{
        width: 100%;
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 15px;
    }
    .slider-2{
        display: none !important;
    }
    .frm-search{
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: space-around !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .col-md-5 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .col-md-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .map{
        order: -1;
        padding: 0 !important;
    }
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        align-items: center !important;
    }
    .one, .two, .three{
        border-right: 1px dashed #cccccc;
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .entreprise{
        width: 100%;
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 15px;
    }
    .col-md-5 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .col-md-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .one, .two, .three{
        border-right: 1px dashed #cccccc !important;
    }
}
