// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background: url('/storage/images/back.png') repeat scroll 0 0 transparent;
    width: 100%;
}
.separator{
    background: url('/storage/images/sep_nav.png') no-repeat scroll right center transparent;
    display: block;
    float: left;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 0px 18px;
}
.btn-green{
    background: #9db22b;
    color: white;
    border: none;
    box-shadow: 2px black;
}
.nav-bg{
    background: #9db22b !important;
}
.w-h-78{
    width: 78px;
    height: 78px;
}
.f-size-11{
    font-size: 11px;
    margin-top: 4px;
    margin-left: 5px;
}
.f-size-16{
    font-size: 16px;
    margin-bottom: 10px;
}
.border-dashed{
    border-right: 1px dashed gray;
}
.borded{
    border-top: 3px solid #9db22b;
}
.w-40{
    width: 260px;
    font-size: 11px;
    color: #9db22b;
    font-family: arial;
    height: 24px;
    background: #f5f5f5;
    border: 1px solid #cccccc;
}
.w-10{
    width: 50px;
    font-size: 11px;
    color: #9db22b;
    font-family: arial;
    height: 24px;
    background: #f5f5f5;
    border: 1px solid #cccccc;
}
.w-20{
    width: 100px;
    font-size: 11px;
    color: #9db22b;
    font-family: arial;
    height: 24px;
    background: #f5f5f5;
    border: 1px solid #cccccc;
}
.w-area{
    width: 260px;
    font-size: 11px;
    color: #9db22b;
    font-family: arial;
    background: #f5f5f5;
    border: 1px solid #cccccc;
}
.text-green{
    color: #9db22b;
}
.title{
    width: 182px;
    font-size: 12px;
    color: #666666;
    font-family: arial;
    padding-top: 8px;
}
.ml-72{
    margin-left: 75px;
}
.avatar{
    width: 78px;
    height: 78px;
}
.bord-dash{
    float: left;
    width: 207px;
    height: 148px;
    padding-left: 9px;
    padding-top: 20px;
    margin-left: 20px;
    border:3px solid #eaeaea;
}
.atelier li{
    list-style: none;
}
.atelier a{
    color: #999999;
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 5px;
}
.atelier a:hover{
    color: #999999;
    text-decoration: none;
}
.rounded-half{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 32px;
    box-shadow: 1px 3px #9db22b;
}
.text-grey{
    font-size: 18px;
    color: #666666;
    font-weight: normal;
}
.list-group>.text-grey:hover{
    color: #000;
}
.nav-link:hover{
    color: #000;
}
.rounded-top-right{
    border-top-right-radius: 32px;
}
.shadow-xl{
    box-shadow: 1px 1px rgb(58, 58, 58);
}
.bg-green-light{
    background-color: #e9f0c6 !important;
}

.border-b-dashed {
    border-bottom: 2px dashed #fff;
}

.bloc-bienvenue{
    background: url('/storage/images/bg-repeat.jpg') repeat-x center #fff;
    border: 2px solid #e0dfdf;
    width: 696px!important;
    border-top: 0px;
    border-radius: 50px;
    box-shadow: 1px 0px 4px#9db22b;
}
.f-90{
    font-size: 12px;
    font-weight: 500;
}
.f-13{
    color: #666666;
    font-size: 13px;
    font-weight: bold;
}
